{% extends "bwitter/base.html" %}
{% block content %} 
    <h2>
    About Bwitter
    </h2>
    <p class="lead">
    <small class="text-muted">An open-source CRUD Application developed by Jermaine Mercado.</small>
    </p>
    <p class="mt-4">
    This web application was created during the midst of the COVID-19 pandemic to develop a knowledge of Python and the Django web-framework.
    Front-end styling via Bootstrap CSS. 
    Things learned during the development of the project are the use of class-based views, database connections, SQLite models,
    URL routing, CSRF protection, SMTP server set-up, user authentication, and Django's built in administrator functionalities.

    For more information, visit the open-source git repository containing the project's source.
    </p>
    <p>
    <a href="https://github.com/jermerc/bwitter" class="badge badge-primary mt=4">Find Bwitter on Github</a>
    </p>


{% endblock content%}